<a href="https://colab.research.google.com/github/Natalia-SB/Portfolio/blob/main/vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
vendas = pd.read_excel("vendas.xlsx")

In [4]:
display(vendas)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300
4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400
...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500
9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500
9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400