<a href="https://colab.research.google.com/github/Natalia-SB/Portfolio/blob/main/vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de dados em busca de melhorias para as vendas

### 1. Definição do problema

> A empresa precisa prever quais os produtos mais vendidos e que loja está faturando mais



### 2.Importação de biblioteca e dados

In [2]:
#importação de biblioteca

import pandas as pd

In [3]:
#importação dos dados

vendas = pd.read_excel("vendas.xlsx")

### 3.Exploração de dados



> O dataframe possue dados sobre o código do produto, o produto, a quantidade, o nome do comprador, a data de compra, o local da loja e o preço por unidade

In [4]:
#visão geral dos dados

display(vendas)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300
4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400
...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500
9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500
9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400

In [6]:
#resumo estatistico dos dados

vendas.describe()

       Quantidade Vendida  Preco Unitario
count         9999.000000     9999.000000
mean             3.004600     3300.460046
std              1.405409     1449.490943
min              1.000000     1400.000000
25%              2.000000     2100.000000
50%              3.000000     3400.000000
75%              4.000000     5300.000000
max              5.000000     5300.000000

In [9]:
#informações gerais do conjutos de dados

vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SKU                 9999 non-null   object
 1   Produto             9999 non-null   object
 2   Quantidade Vendida  9999 non-null   int64
 3   Primeiro Nome       9999 non-null   object
 4   Sobrenome           9999 non-null   object
 5   Data                9999 non-null   object
 6   Loja                9999 non-null   object
 7   Preco Unitario      9999 non-null   int64
dtypes: int64(2), object(6)
memory usage: 625.1+ KB

In [8]:
vendas [["Produto", "Quantidade Vendida", "Preco Unitario"]].groupby("Produto").sum()

            Quantidade Vendida  Preco Unitario
Produto
Android                   3183         3631200
Câmera                    2805         2020200
Notebook                  3249         3717000
SmartWatch                2980         1393000
Tablet                    2921         1556800
Televisão                 5931         4905000
iPhone                    8974        15778100

### 4. Limpeza de dados



> Para limpeza dos dados serão removidas duplicatas e valores ausentes

In [8]:
#remover duplicatas
vendas = vendas.drop_duplicates()

#Remover linhas com valores ausentes
vendas = vendas.dropna()

# Transformação de dados



> Na transformação dos dados, para melhor visualização, será nescessário formatar a data para o padrão brasileiro, juntar primeiro nome e sobrenome, mostrar o valor total das vendas...

In [ ]:
#Converter a coluna 'data' para um objeto datetime
vendas['Data'] = pd.to_datetime(vendas['Data'])

#Formatando as datas no formato brasileiro
vendas['Data'] = vendas['Data'].dt.strftime('%d/%m/%Y')

In [11]:
display(vendas)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,5,Gabriel,Thoni,30/06/2018,Curitiba,2500
1,HL4379,Televisão,3,Renan,Nascimento,14/09/2018,Recife,2500
2,HL1148,Câmera,2,Camila,Sobral,21/10/2018,Fortaleza,2100
3,HL1918,iPhone,3,Clara,Bruno,07/08/2018,Fortaleza,5300
4,HL9962,Android,4,Eduardo,Pacheco,19/12/2018,Fortaleza,3400
...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,18/05/2018,Fortaleza,2500
9995,HL1148,Câmera,5,Kim,Ferreira,03/06/2018,Fortaleza,2100
9996,HL4379,Televisão,5,Caio,Moraes,22/01/2018,São Paulo,2500
9997,HL1918,iPhone,4,Norman,Jimbo,13/06/2018,Porto Alegre,5300
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400